 .head {
    display: flex;
    justify-content: space-evenly;

    color: white;
    font-size: 50px;
    background-color: #2F3D46;
   width: 1690px;
   height: 110px;
    position: absolute;
    left : 0px;
    top: 0px;
    
   
}
#img{
     position: absolute;
     
    
}
#rep1{
    background-color: #353536;
    position: absolute;
    border-radius: 25px;
    height: 600px;
    width: 300px;
    top: 250px;
    left: 150px;
}
.rep2{
    background-color: #353536;
        position: absolute;
        border-radius: 25px;
        height: 200px;
        width: 950px;
        left: 600px;
        top: 650px;

}
.rep3{
    background-color: #353536;
        position: absolute;
        border-radius: 25px;
        height: 200px;
        width: 250px;
        left: 600px;
        top: 350px;
}
.rep4{
    background-color: #353536;
        position: absolute;
        border-radius: 25px;
        height: 200px;
        width: 250px;
        left: 950px;
        top: 350px;

}
.rep5{
    background-color: #353536;
        position: absolute;
        border-radius: 25px;
        height: 200px;
        width: 250px;
        left: 1300px;
        top: 350px;
}
.rep6{
    background-color: #353536;
        position: absolute;
        border-radius: 10px;
        font-size: x-large;
        text-align: left;
        color: white;
        height: 50px;
        width: 700px;
        left: 720px;
        top: 200px;


}